#grid{
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.component {
    border: 1px solid red;
    padding: 20px;
}

.onhover {
    background-color: blueviolet;
}