body {
    display: flex;
    flex-direction: column;
    flex: auto;
    background-color: crimson;
}

#grid{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 500px;
    max-height: 500px;
    aspect-ratio: 1 / 1;
}

.row {
    display: flex;
    flex-direction: row;
}

.component {
    flex: auto;
    box-sizing: border-box;
    aspect-ratio: 1 / 1;
    background-color: white;
}

.onhover {
    background-color: black;
}